<!-- side menu for mobile  -->
<div class="cart-overlay"></div>
<div class="menu-bar-holder">
	<div class="menu-bar">
		<div class="welcome-holder">
			<div class="welcome">
				<div class="profile-img">
					<img src="./images/homepage/profile.png">
				</div>
				<div class="welcome-text-holder">
					<div class="text-holder">
						Welcome!
					</div>
					<div class="login-signup">
						Login/Signup
					</div>
				</div>
			</div>
			<div class="cross-icon">
				<i class="fas fa-times"></i>
			</div>
		</div>
		<div class="accordian-list-holder">
			<div class="accordian-list">
				<button class="accordian-menu">All Products
				</button>
				<div class="answer">
					<div class="image-holder">
						<span><img src="./images/homepage/shampoo.png"></span><span class="heading">2+1 Shampoo
							Conditioner</span>
					</div>
				</div>
				<div class="answer sub-menu">
					lorem ipsum
				</div>
				<button class="accordian-menu">Bestsellers
				</button>
				<div class="answer">
					Lorem ipsem
				</div>
				<button class="accordian-menu">Skincare
				</button>
				<div class="answer">
					Lorem ipsem
				</div>
				<button class="accordian-menu">Facecare
				</button>
				<div class="answer">
					Lorem ipsem
				</div>
				<button class="accordian-menu">Gifts
				</button>
				<div class="answer">
					Lorem ipsem
				</div>
				<button class="accordian-menu">Haircare
				</button>
				<div class="answer">
					Lorem ipsem
				</div>
				<button class="accordian-menu">Offers
				</button>
				<div class="answer">
					Lorem ipsem
				</div>
			</div>
		</div>
		<div class="social-icons-holder">
			<ul class="social-icons">
				<li class="social-icon">
					<a><i class="fab fa-instagram"></i></a>
				</li>
				<li class="social-icon">
					<a><i class="fab fa-facebook-f"></i></a>
				</li>
				<li class="social-icon">
					<a><i class="fab fa-youtube"></i></a>
				</li>
				<li class="social-icon">
					<a><i class="fab fa-twitter"></i></a>
				</li>
				<li class="social-icon">
					<a><i class="fab fa-pinterest"></i></a>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>