<div class="bestsellers">
	<h3 class="section-heading bestsellers-heading">
	  Bestsellers
	</h3>
	<div class="container">
	  <ul class="products-holder">
		<li class="products-list">
		  <div class="products-list-holder">
			<div class="products-image">
			  <img src="{{ 'product.png' | asset_url }}">
			</div>
			<div class="products-heading">
			  2+1 Shampoo Conditioner
			</div>
			<div class="products-details">
			  Controls Dandruff, Hair Fall & Frizz
			</div>
			<div class="products-price">
			  <span class="currency">&#8377</span>375
			</div>
			<ul class="add-to-cart-btn">
			  <li class="cart-button">
				<a href="#">Add to Cart</a>
			  </li>
			</ul>
		  </div>
		</li>
		<li class="products-list">
		  <div class="products-list-holder">
			<div class="products-image">
			  <img src="{{ 'product.png' | asset_url }}">
			</div>
			<div class="products-heading">
			  2+1 Shampoo Conditioner
			</div>
			<div class="products-details">
			  Controls Dandruff, Hair Fall & Frizz
			</div>
			<div class="products-price">
			  <span class="currency">&#8377</span>375
			</div>
			<ul class="add-to-cart-btn">
			  <li class="cart-button">
				<a href="#">Add to Cart</a>
			  </li>
			</ul>
		  </div>
		</li>
		<li class="products-list">
		  <div class="products-list-holder">
			<div class="products-image">
			  <img src="{{ 'product.png' | asset_url }}">
			</div>
			<div class="products-heading">
			  2+1 Shampoo Conditioner
			</div>
			<div class="products-details">
			  Controls Dandruff, Hair Fall & Frizz
			</div>
			<div class="products-price">
			  <span class="currency">&#8377</span>375
			</div>
			<ul class="add-to-cart-btn">
			  <li class="cart-button">
				<a href="#">Add to Cart</a>
			  </li>
			</ul>
		  </div>
		</li>
		<li class="products-list">
		  <div class="products-list-holder">
			<div class="products-image">
			  <img src="{{ 'product.png' | asset_url }}">
			</div>
			<div class="products-heading">
			  2+1 Shampoo Conditioner
			</div>
			<div class="products-details">
			  Controls Dandruff, Hair Fall & Frizz
			</div>
			<div class="products-price">
			  <span class="currency">&#8377</span>375
			</div>
			<ul class="add-to-cart-btn">
			  <li class="cart-button">
				<a href="#">Add to Cart</a>
			  </li>
			</ul>
		  </div>
		</li>
	  </ul>
	</div>
  </div>

  {% schema %}

  {
	  "name": "Bestsellers",
	  "class": "be-bestsellers",    
	  "tag": "section",
	  "settings": [],
	  "presets": [
		  {
			  "category": "BE",
			  "name": "Bestsellers"
		  }
	  ]
  }
  
  {% endschema %}