<div class="blogs">
	<h3 class="section-heading blogs-heading">
	  {{ section.settings.title }}
	</h3>
	<div class="container">
	  <ul class="blogs-holder">
		{% for block in section.blocks %}
			{% assign item = block.settings.article %}  
		<li class="blogs-list">
		  <div class="blogs-list-holder">
			<h6 class="blogs-list-heading">
			  {{ item.title }}
			</h6>
			<div class="blogs-list-details">
				{{ item.content | strip_html | truncatewords: 30, '...' }}
			</div>
		  </div>
		</li>
		{% endfor %}
	  </ul>
	</div>
  </div>

{% schema %}

{
    "name": "Blogs",
    "class": "be-blogs",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Section Heading"
        }
    ],
    "blocks": [
        {
            "name": "Blog Article",
            "type": "blog_article",
            "settings": [
                {
                    "type": "article",
                    "id": "article",
                    "label": "Choose Article"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "BE",
            "name": "Blogs"
        }
    ]
}

{% endschema %}