<div class="banner-holder">
	{% for block in section.blocks %}
	{%- assign item = block.settings -%}
  		{% if item.link and item.link != "https://" %}
  			<a href="{{ item.link }}">
        {% endif %}
          <div class="banner-image">
              <img src="{{ item.img | image_url }}">
          </div>
        {% if item.link and item.link != "https://" %}
  			</a>
  		{% endif %}
	{% endfor %}
</div>


{% schema %}

{
    "name": "Banner Holder",
    "class": "be-banner-holder",
    "tag": "section",
    "settings": [],
    "blocks": [
        {
            "name": "Banner",
            "type": "banner",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Slide Image"
                },
                {
                    "type": "text",
                    "id": "link",
                    "default": "https://",
                    "label": "Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "BE",
            "name": "Banner Holder"
        }
    ]
}

{% endschema %}