<div class="blogs">
	<h3 class="section-heading blogs-heading">
	  Blogs
	</h3>
	<div class="container">
	  <ul class="blogs-holder">
		<li class="blogs-list">
		  <div class="blogs-list-holder">
			<h6 class="blogs-list-heading">
			  Skin Care Routines
			</h6>
			<div class="blogs-list-details">
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
			  lacus vel facilisis.
			</div>
		  </div>
		</li>
		<li class="blogs-list">
		  <div class="blogs-list-holder">
			<h6 class="blogs-list-heading">
			  Skin Care Routines
			</h6>
			<div class="blogs-list-details">
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
			  lacus vel facilisis.
			</div>
		  </div>
		</li>
		<li class="blogs-list">
		  <div class="blogs-list-holder">
			<h6 class="blogs-list-heading">
			  Skin Care Routines
			</h6>
			<div class="blogs-list-details">
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
			  lacus vel facilisis.
			</div>
		  </div>
		</li>
		<li class="blogs-list">
		  <div class="blogs-list-holder">
			<h6 class="blogs-list-heading">
			  Skin Care Routines
			</h6>
			<div class="blogs-list-details">
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
			  lacus vel facilisis.
			</div>
		  </div>
		</li>
	  </ul>
	</div>
  </div>

  {% schema %}

  {
	  "name": "Blogs",
	  "class": "be-blogs",    
	  "tag": "section",
	  "settings": [],
	  "presets": [
		  {
			  "category": "BE",
			  "name": "Blogs"
		  }
	  ]
  }
  
  {% endschema %}