<div class="products-nav desktop-only">
    <div class="container">
        <ul class="product-nav-holder">
            <li class="nav-list">
                <a href="{{ shop.url }}">Home</a>
            </li>
            <li class="nav-list">
                <a href="{{ collection.url }}">{{ collection.title }}</a>
            </li>
        </ul>
    </div>
</div>

{% schema %}

{
    "name": "Collection Nav",
    "class": "be-collection-nav",
    "tag": "section",
    "settings": []
}

{% endschema %}