<div class="categories-slider mobile-only">
    <ul class="categories-holder">
        {% for block in section.blocks %}
            {% assign item = block.settings %}
            {% case block.type %}
                {% when 'slide_collection' %}
                    <li class="categories-list-holder">
                        <div class="categories-list">
                            <a href="{{ collections[item.slide_collection].url }}"><img src="{{ collections[item.slide_collection] | img_url: '400x' }}"></a>
                            <a class="categories-header" href="{{ collections[item.slide_collection].url }}">{{ collections[item.slide_collection].title }}</a>
                        </div>
                    </li>
            {% endcase %}
        {% endfor %}
    </ul>
</div>

{% schema %}

{
    "name": "Categories Slider",
    "class": "be-categories-slider",
    "tag": "section",
    "settings": [],
    "blocks": [
        {
            "name": "Slide Collection",
            "type": "slide_collection",
            "limit": 6,
            "settings": [
                {
                    "type": "collection",
                    "label": "Choose Collection",
                    "id": "slide_collection"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "BE",
            "name": "Categories Slider"
        }
    ]
}

{% endschema %}