<div class="gifting-banner">
	<div class="container">
	  <div class="gifting-banner-holder">
		<h3 class="gifting-banner-heading">
		  Gifting - Banner
		</h3>
	  </div>
	</div>
  </div>

{% schema %}

  {
	  "name": "Gifting Banner",
	  "class": "be-gifting-banner",    
	  "tag": "section",
	  "settings": [],
	  "presets": [
		  {
			  "category": "BE",
			  "name": "Gifting Banner"
		  }
	  ]
  }
  
  {% endschema %}