<div class="media-coverage">
    <h3 class="section-heading media-coverage-heading">
        {{ section.settings.title }}
    </h3>
    <div class="container">
        <ul class="media-list-holder">
            {%- for block in section.blocks -%}
                {%- assign item = block.settings -%}
                {% case block.type %}
                    {% when 'media_coverage' %}
                        <li class="media-list">
                            <div class="media-logo">
                                <img src="{{ item.media_image | img_url: '350x' }}">
                            </div>
                        </li>
                {% endcase %}
            {% endfor %}
        </ul>
    </div>
</div>

{% schema %}

{
    "name": "Media Coverage",
    "class": "be-media-coverage",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Section Heading"
        }
    ],
    "blocks": [
        {
            "name": "Media Coverage",
            "type": "media_coverage",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "media_image",
                    "label": "Media Coverage Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "BE",
            "name": "Media Coverage"
        }
    ]
}

{% endschema %}