<div class="media-coverage">
	<h3 class="section-heading media-coverage-heading">
	  Media Coverage
	</h3>
	<div class="container">
	  <ul class="media-list-holder">
		<li class="media-list">
		  <div class="media-logo">
			<img src="{{ 'times-of-india.png' | asset_url }}">
		  </div>
		</li>
		<li class="media-list">
		  <div class="media-logo">
			<img src="{{ 'vogue.png' | asset_url }}">
		  </div>
		</li>
		<li class="media-list">
		  <div class="media-logo">
			<img src="{{ 'forbes.png' | asset_url }}">
		  </div>
		</li>
		<li class="media-list">
		  <div class="media-logo">
			<img src="{{ 'times-of-india.png' | asset_url }}">
		  </div>
		</li>
	  </ul>
	</div>
  </div>

  {% schema %}

  {
	  "name": "Media Coverage",
	  "class": "be-media-coverage",    
	  "tag": "section",
	  "settings": [],
	  "presets": [
		  {
			  "category": "BE",
			  "name": "Media Coverage"
		  }
	  ]
  }
  
  {% endschema %}