<div class="products-nav">
	<div class="container">
	  <ul class="product-nav-holder">
		<li class="nav-list"><a href="#">Home</a></li>
		<li class="nav-list"><a href="#">Categories</a></li>
		<li class="nav-list"><a href="#">Hair Care</a></li>
		<li class="nav-list"><a href="#">2 + 1 Shampoo Container</a></li>
	  </ul>
	</div>
  </div>

  {% schema %}

{
	"name": "Products Nav",
	"class": "be-products-nav",    
	"tag": "section",
	"settings": []
}

{% endschema %}