<div class="products-nav">
	<div class="container">
	  <ul class="product-nav-holder">
		<li class="nav-list"><a href="{{ shop.url }}">Home</a></li>			
		<li class="nav-list"><a href="{{ product.url }}">{{ product.title }}</a></li>
	  </ul>
	</div>
  </div>

  {% schema %}

{
	"name": "Products Nav",
	"class": "be-products-nav",    
	"tag": "section",
	"settings": []
}

{% endschema %}