<div class="refer-section desktop-only">
	<div class="container">
	  <div class="refer-section-holder">
		<div class="refer-content-holder">
		  <div class="refer-content">
			<div class="refer-button">
			  <div class="refer-heading-holder">
				<h6 class="refer-heading">
<!-- 				  Refer &amp; Earn -->
                  {{ section.settings.title }}
				</h6>
			  </div>
			</div>
<!-- 			<div class="join-club">
			  Join The Club of Honor
			</div> -->
			<div class="input-holder">
				
				{% form 'customer' %}
				<input name="contact[email]" type="email" class="email-bar" placeholder="Your Mail"/>
				<i class="fas fa-arrow-right"></i>
				<div class="submit">
					<input type="submit" value="Sign up" />
				</div>
				{% endform %}
			</div>
		  </div>
		</div>
<!-- 		<div class="side-options">
		  <div class="accordion-list side-options-holder">
			<div class="accordion side-option-list">
			  Beard Care
			</div>
			<div class="answer">
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
				et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat.</p>
			</div>
		  </div>
		  <div class="accordion-list side-options-holder">
			<div class="accordion side-option-list">
			  Shave
			</div>
			<div class="answer">
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
				et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat.</p>
			</div>
		  </div>
		  <div class="accordion-list side-options-holder">
			<div class="accordion side-option-list">
			  Face Care
			</div>
			<div class="answer">
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
				et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat.</p>
			</div>
		  </div>
		  <div class="accordion-list side-options-holder">
			<div class="accordion side-option-list">
			  Hair Care
			</div>
			<div class="answer">
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
				et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat.</p>
			</div>
		  </div>
		  <div class="accordion-list side-options-holder">
			<div class="accordion side-option-list">
			  Fragrance
			</div>
			<div class="answer">
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
				et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat.</p>
			</div>
		  </div>
		</div> -->
	  </div>
	</div>
  </div>

{% style %}
.refer-section .email-bar {
	text-align: center
}
.refer-section .submit {
	margin-top: 15px;
	display: block;
    padding: 2.5px 0;
    width: 100%;
}
.refer-section .submit input {
	border: 3px solid #75754f!important;
}
.refer-section .submit input:hover {
	cursor: pointer!important;
	background-color: transparent!important;
    color: #75754f!important;
    border-color: #75754f!important;	
}
.brave-essentials .refer-section .container .refer-section-holder {    
    justify-content: center;
}
.brave-essentials .refer-section form {    
    width: 100%;
}
.brave-essentials .refer-section .container .refer-section-holder .refer-content-holder .refer-content .input-holder svg {
	top:10px;
}
{% endstyle %}

{% schema %}

{
    "name": "Refer",
    "class": "be-refer",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Section Heading"
        }
    ],
    "presets": [
        {
            "category": "BE",
            "name": "Refer"
        }
    ]
}

{% endschema %}