<div class="refer-section desktop-only">
	<div class="container">
	  <div class="refer-section-holder">
		<div class="refer-content-holder">
		  <div class="refer-content">
			<div class="refer-button">
			  <div class="refer-heading-holder">
				<h6 class="refer-heading">
<!-- 				  Refer &amp; Earn -->
                  Join The Club 
				</h6>
			  </div>
			</div>
<!-- 			<div class="join-club">
			  Join The Club of Honor
			</div> -->
			<div class="input-holder">
			  <input class="email-bar" type="email" placeholder="Your Mail" name="email">
			</div>
		  </div>
		</div>
<!-- 		<div class="side-options">
		  <div class="accordion-list side-options-holder">
			<div class="accordion side-option-list">
			  Beard Care
			</div>
			<div class="answer">
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
				et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat.</p>
			</div>
		  </div>
		  <div class="accordion-list side-options-holder">
			<div class="accordion side-option-list">
			  Shave
			</div>
			<div class="answer">
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
				et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat.</p>
			</div>
		  </div>
		  <div class="accordion-list side-options-holder">
			<div class="accordion side-option-list">
			  Face Care
			</div>
			<div class="answer">
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
				et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat.</p>
			</div>
		  </div>
		  <div class="accordion-list side-options-holder">
			<div class="accordion side-option-list">
			  Hair Care
			</div>
			<div class="answer">
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
				et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat.</p>
			</div>
		  </div>
		  <div class="accordion-list side-options-holder">
			<div class="accordion side-option-list">
			  Fragrance
			</div>
			<div class="answer">
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
				et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat.</p>
			</div>
		  </div>
		</div> -->
	  </div>
	</div>
  </div>

{% schema %}

  {
	  "name": "Refer",
	  "class": "be-refer",    
	  "tag": "section",
	  "settings": [],
	  "presets": [
		  {
			  "category": "BE",
			  "name": "Refer"
		  }
	  ]
  }
  
  {% endschema %}