<div class="video-section">
	<div class="container">
	  <div class="video-section-holder">
		<!-- <video src=""></video> -->
	  </div>
	</div>
  </div>

  {% schema %}

  {
	  "name": "Video",
	  "class": "be-video",    
	  "tag": "section",
	  "settings": [],
	  "presets": [
		  {
			  "category": "BE",
			  "name": "Video"
		  }
	  ]
  }
  
  {% endschema %}