<div class="video-section">
	<div class="container">
	  <div class="video-section-holder">
		<video controls="controls" style="max-width: 100%; height: auto;">
			<source src="{{ section.settings.video }}" type="video/mp4" />		 
		  </video>
	  </div>
	</div>
  </div>

  {% schema %}

  {
	  "name": "Video",
	  "class": "be-video",    
	  "tag": "section",
	  "settings": [
	  {
		  "type": "url",
		  "id": "video",
		  "label": "Paste video link from Settings->Files"
	  }
	  ],
	  "presets": [
		  {
			  "category": "BE",
			  "name": "Video"
		  }
	  ]
  }
  
  {% endschema %}